name: Deploy to Amazon EC2

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd portfolio-2025/
          git pull origin main
          cd server/
          npm install --production
          pm2 restart server
          cd ../client
          npm install
          npm run build
          sudo rm -rf /var/www/html/portfolio/
          sudo systemctl restart nginx
          sudo mv dist/ /var/www/html/portfolio/
